/*
  I'm so bored I even keep my 70 lines CSS files in order of appearance.
*/


body {
  font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro';
  font-size: 1.05em;
  background-color: #F9F9F9;
}

.centered { /* Isn't there an easier way to do this? ._. */
  text-align: center;
}

.fancy-border {
  border: 1px solid #ccc;
  webkit-border-radius: 6px;
  moz-border-radius: 6px;
  border-radius: 6px;
}

.ironic-remark {
  color: #828282;
  text-shadow: 1px 1px 0px #E8E8E8;  
}

section {
  margin-top: 50px;
}      

code {
  color: #444444;
}

cite {
  font-weight: bold;
}

footer {
  margin-top: 50px;
}


#container {
  margin: 15px auto;
  max-width: 800px;
}

#quick-info {
  font-size: 1.1em;
  line-height: 150%;
}

#myname {
  margin-bottom: 0;
}

address {
  margin-top: 3px;
  color: #777777;
}

.address-dash {
  margin-left: 2px;
  margin-right: 2px;
}
#toc {
  visibility: hidden;
  display: inline-block;
}

/* Experiences */

li.experience {
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  padding: 5px 0 5px;
  margin-bottom: 10px;
}

h3.experience-title {
  line-height: 15px;
}

h4.experience-subtitle {
  font-size: 0.9em;
}

span.experience-timeframe {
  float: right;
  background-color: #E0E0E0;
  text-transform: uppercase;
  margin-top: 15px; /* Meh - can't I do that more dynamic? */
}

#dot1 {
  color: #06318E;
}

#dot2 {
  color: #FAB60B;
}

#dot3 {
  color: #AC0001;
}