body {
  font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro';
  background-color: #F9F9F9;
  font-size: 150%; /* I find that Bootstrap makes the font waaaay to small, so let's boost it */
}

#header p {
    display: block;
}

.centered { /* Isn't there an easier way to do this? ._. */
  text-align: center;
}

.fancy-border {
  border: 1px solid #ccc;
  webkit-border-radius: 6px;
  moz-border-radius: 6px;
  border-radius: 6px;
}

footer {
  margin-top: 50px;
}


#container {
  margin: 10px 30%;
}

#quick-info {
  line-height: 150%;
}

#myname {
  margin-bottom: 0;
}

address {
  margin-top: 3px;
  color: #777777;
  font-size: 150%;
}

.address-dash {
  margin-left: 2px;
  margin-right: 2px;
}

#dot1 {
  color: #06318E;
}

#dot2 {
  color: #FAB60B;
}

#dot3 {
  color: #AC0001;
}