body {
  background-color: rgb(232, 234, 237);
  color: rgb(53, 54, 58);
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: rgb(53, 54, 58);
      color: rgb(232, 234, 237);
  }
}

#thestuff {
    display: grid;
    height: 100vh;
    margin: 0 25vw;
    place-items: center;
    align-content: start;  
}