@font-face {
  font-family: "lato";
  src: url("lato-regular.ttf");  
  font-display: swap;
}

body {
  font-family: 'lato', 'Open Sans', sans-serif;
}

h1 {
  font-size: 5em;
}

p.explain {
  font-size: 2em;
  color: rgb(104, 106, 114);
}

a {
  color: rgb(85, 94, 131);
}

.zhongwen {
  white-space: nowrap;
}


@media only screen and (max-width: 12000px) {
  h1 {
    font-size: 2rem;
  }

  p.explain {
    font-size: 1rem;
  }
}